<!DOCTYPE html>
<html lang="en">
    <%- include('components/head') %>

    <body id="page-top" data-spy="scroll">
        <%- include('components/navbar') %>

        <header id="header">
            <div class="container">
                <div class="jumbotron">
                    <h1>This is the home page.</h1>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <% books.forEach(book => { %>
                    <li class="list-group-item">
                        <%= book.title %>
                        <%= book.author %>
                    </li>
                <% }) %>
            </div>
        </section>

        <%- include('components/footer') %>

        <%- include('components/scripts') %>
    </body>
</html>